{{template "base" .}}
{{define "content"}}
        <div class="container">
                <h1>This is home page</h1>
                <p> This is some text </p>
                <p> This is another text </p>
                <img src="/static/post.png" height="100" width="200">
        </div>
        
{{end}}
